{% extends 'base.html' %}

{% block title %}
La mia Chat App
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">

        {% for room in rooms %}
        <div class="col d-flex justify-content-center my-3">
            <div id="card_room" class="card bg-dark" style="width: 18rem;">
                <div class="card-body text-center">
                    <form method="post" class="text-start">
                        <label for="{{'leave_room' + room.room_name }}">
                            <i class="bi bi-box-arrow-left text-danger card_delete"></i>
                        </label>
                        <input id="{{'leave_room' + room.room_name }}" class="btn btn-danger d-none" type="submit"
                               value="{{ room._id.room_id }}" name="leave_room">
                    </form>
                    <div><p class="text-dark targa_admin ms-auto w-50">Proprietario: {{ room.added_by }}</p></div>
                    <h5 class="card-title bg-dark text-light">{{ room.room_name }}</h5>
                    <a class="btn btn-light outlined mt-5 w-100" href="/rooms/{{ room._id.room_id }}">Entra</a>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
    <div class="row text-center text-success mt-3">
        <div class="col">
            <label for="add_room">
                <i class="bi bi-plus-circle-fill icon_label"></i>
            </label>
            <form method="post">
                <input class="d-none" type="submit" id="add_room" value="add_room" name="add_room">
            </form>
        </div>
    </div>
</div>

{% endblock %}

