{% extends 'base.html' %}

{% block title %}
Pagina di Login
{% endblock %}

{% block content %}

<h1 class="text-center">Pagina di Login</h1>
<h3 class="{% if message %}{{ 'alert alert-danger w-50 mx-auto my-5' }}{% else %}{{ 'alert alert-danger w-50 m-auto my-5 d-none' }}{% endif %}">
    {{ message }}</h3>
<div class="card bg-dark text-light p-4 w-75 mx-auto my-5">
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="login_username" class="form-label">Nome utente:</label>
            <input type="text" name="username" id="login_username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="login_password" class="form-label">Password:</label>
            <input type="password" name="password" id="login_password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Accedi</button>
        <input class="btn btn-success" type="submit" value="registrati" name="registrati"/>
    </form>
</div>


{% endblock %}
