{% extends 'base.html' %}
{% block title %}
Stanza
{% endblock %}
{% block content %}
<div class="welcome_section">
    <h1 id="room_name"><span class="nome_stanza">{{ room.name }}</span></h1>
</div>
<div class="number_of_messages">
    Messaggi totali : {{ room_messages_length }}
</div>
<div class="messages_section">
    <div class="members_section">
        <div id="membri_nella_stanza_section">
            <h4 id="membri_nella_stanza">Membri nella stanza</h4>
            {% for member in room_members %}
            <li>{{ member._id.username }}</li>
            {% endfor %}
        </div>
    </div>
    <div class="message_container" id="to_scroll">
        {% for message in room_messages %}
        <div class="{% if current_user.username == message.username %}{{ 'message_box' }}{% else %}{{ 'message_box_when_user' }}{% endif %}">
            <div class="message_name">
                {{ message.username }}
            </div>
            <div class="message_content">
                {{ message.message }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="card d-flex flex-row flex-nowrap justify-content-center bg-dark send_message_section">
    <div class="col ms-4">
        {% if check_room_admin %}
        <form method="post">
            <label class="icon_label" for="modify">
                <i class="bi bi-gear"></i>
            </label>

            <input id="modify" class="btn btn-light h-100 d-none" type="submit" value="Modifica stanza"
                   name="modifica_stanza">
        </form>
        {% endif %}
    </div>
    <div class="col">
        <form method="post" id="form_invio_messaggio">
            {{ message_form.message(id='message_input', placeholder='Premi invio') }}
            {{ message_form.submit(id='message_send_button') }}
        </form>
    </div>
</div>
{% endblock %}
