{% extends 'base.html' %}
{% block title %}
Stanza
{% endblock %}
{% block content %}

<div class="messages_section">
    <div class="members_section">
        <div id="membri_nella_stanza_section">
            <div class="welcome_section">
                <h1 id="room_name"><span class="nome_stanza">{{ room.name }}</span></h1>
            </div>
            <div class="mt-3 justify-content-center p-2 card number_of_messages text-center text-dark">
                <div class="col">
                    <h4>Messaggi totali</h4>
                </div>

                <div id="room_message_length" class="bg-dark text-light m-auto">{{ room_messages_length }}</div>
            </div>
            <h4 id="membri_nella_stanza" class="mt-5">Membri nella stanza</h4>
            {% if check_room_admin %}
            <div>
                <div class="d-inline btn btn-danger text-danger" style="font-size: 1px">:</div>
                <div class="d-inline text-light" style="font-size: small">Admin</div>
            </div>
            {% endif %}

            {% for member in room_members %}
            <div class="{% if member._id.username == current_user.username and check_room_admin %}{{ 'card bg-danger text-light mt-2 text-center' }}{% else %}{{ 'card text-dark mt-2 text-center' }}{% endif %}">
                {{ member._id.username }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="message_container" id="to_scroll">
        {% for message in room_messages %}
        <div class="{% if current_user.username == message.username %}{{ 'message_box' }}{% else %}{{ 'message_box_when_user' }}{% endif %}">
            <div class="message_name">
                {{ message.username }}
            </div>
            <div class="message_content">
                <p>{{ message.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="card d-flex flex-row flex-nowrap justify-content-center bg-dark send_message_section">

    <div class="d-flex col ms-4">
        {% if check_room_admin %}
        <form method="post">
            <!--suppress XmlInvalidId -->
            <label class="icon_label" for="cupido">
                <i class="bi bi-arrow-through-heart-fill"></i>
            </label>

            {{ cupido_form.submit(class='btn btn-outline-success d-none') }}
        </form>
        {% endif %}
        <div class="text-danger">{{love_message}}</div>
    </div>

    <div class="col">
        <form method="post" id="form_invio_messaggio">
            {{ message_form.message(id='message_input', placeholder='Premi invio') }}
            {{ message_form.submit(id='message_send_button') }}
        </form>
    </div>
    <div class="col ms-4">
        {% if check_room_admin %}
        <form method="post">
            <label class="icon_label" for="modify">
                <i class="bi bi-gear"></i>
            </label>

            <input id="modify" class="btn btn-light h-100 d-none" type="submit" value="Modifica stanza"
                   name="modifica_stanza">
        </form>
        {% endif %}
    </div>

</div>
{% endblock %}
