<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La mia Chat App</title>
</head>
<body>
    <h1>Benvenuti nella stanza: {{ room.room_name }}</h1>

    <div id="messages"></div>

    <ul>
        {% for message in room_messages %}
            <li>{{ message.username }} ----> {{ message.message }}</li>
        {% endfor %}
    </ul>

    <form method="post">
        {{ message_form.message() }}
        {{ message_form.submit() }}
    </form>

    <ul>
        {% for member in room_members %}
            <li>{{ member._id.username }}</li>
        {% endfor %}
    </ul>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>