body {
    margin: 0;
    padding: 0;
    background-color: #313131;
    font-size: 1.5rem;
    height: 100vh;
    overflow: hidden;
}

/*CONTENITORE PRINCIPALE DI TUTTA L'APP'*/
.my_container {
    background-color: #313131;
    min-height: 100vh;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    overflow: hidden;
}
/*PAGINA DELLA CHAT*/
/*La sezione con il nome della stanza*/
.welcome_section {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(26, 27, 33, 0.2), rgba(53, 59, 68, 0.2));
}
/*il nome della stanza*/
#room_name {
    margin-top: 0;
}
/*la sezione che mostra il numero totale dei messagi nella stanza*/
.number_of_messages {
    text-align: center;
}

.messages_section {
    display: flex;
    justify-content: space-between;
;
}
/*La sezione laterale che mostra la lista di membri nella stanza*/
.members_section {
    /*display: flex;*/
}
/*la sezione che contiene la lista di membri*/
#membri_nella_stanza_section {
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 0 1px gainsboro;
}
/*la dicitura membri nella stanza*/
#membri_nella_stanza {
    margin-top: 0;
}
/*la sezione che contiene le box dei messaggi*/
.message_container {
    width: 70%;
    height: 65vh;
    text-align: center;
    overflow: auto;
}

.message_box {
    padding: 0 20px 20px 10px;
    border: 2px solid darkgreen;
    box-shadow: 0 4px 8px 0 rgba(227, 221, 221, 0.2);
    transition: 0.3s;
    background-color: #dcf6e1;
    color: black;
    border-radius: 5px;
    width: 50%;
    margin-top: 15px;
    margin-left: auto;

}

.message_box_when_user {
    padding: 0 20px 20px 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(227, 221, 221, 0.2);
    transition: 0.3s;
    background-color: azure;
    color: black;
    border-radius: 5px;
    width: 50%;
    margin-top: 15px;
    margin-right: auto;
}

.message_name {
    text-align: start;
    font-weight: bolder;
}

.message_content {
    text-align: end;
    word-wrap: break-word;
}

.send_message_section {
    margin-top: 40px;
}

#message_input {
    height: 100px;
    width: 100%;
    margin-right: 50px;
    font-size: 2rem;
}

#message_send_button {
    margin-right: 20px;
    display: none;
}

.icon_label {
    cursor: pointer;
    font-size: 4rem;
}

#card_room{
    opacity: 0.7;
    background-image: linear-gradient(to bottom, rgba(26, 27, 33, 0.2), rgba(53, 59, 68, 0.2));
}
#card_room:hover{
    opacity: 1.5;
}