body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    font-size: 1.5rem;
}
.container{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    overflow: hidden;
}
    .welcome_section{
        display: flex;
        justify-content: center;
        text-align: center;
    }
        #room_name{
            margin-top: 0;
        }
    .messages_section{
        display: flex;
        justify-content: space-between;
    }
        .numer_of_messages{
            text-align: end;
        }
        .message_container{
            width: 70%;
            height: 80vh;
            text-align: center;
            overflow: auto;
        }
            .message_box{
                height: 5vh;
                border: 2px solid black;
                padding: 5px;
                box-shadow: 0 4px 8px 0 rgba(227, 221, 221, 0.2);
                transition: 0.3s;
                background-color: azure;
                color: black;
                border-radius: 5px;
                width: 50%;
                margin-top: 15px;
                margin-left: auto;

            }
            .message_box_when_user{
                border: 2px solid black;
                padding: 5px;
                box-shadow: 0 4px 8px 0 rgba(227, 221, 221, 0.2);
                transition: 0.3s;
                background-color: azure;
                color: black;
                border-radius: 5px;
                width: 50%;
                margin-top: 15px;
                margin-right: auto;
            }
                .message_name{
                    text-align: start;
                    font-weight: bolder;
                }
                .message_content{
                    text-align: end;
                }
    .send_message_section{
        display: flex;
        justify-content: end;
        margin-top: 20px;
    }
    #form_invio_messaggio{
        display: flex;
        justify-content: center;
        width: 100%;
    }
        #message_input {
            height: 50px;
            width: 50vw;
            margin-right: 50px;
            font-size: 2rem;
        }
        #message_send_button{
            margin-right: 20px;
            display: none;
        }
    .members_section{
        display: flex;
    }
        #membri_nella_stanza_section{
            background-color: aliceblue;
            color: black;
            padding: 5px;
            border-radius: 5px;
        }
        #membri_nella_stanza{
            margin-top: 0;
        }
